<app-header></app-header>
<div style="width: 80%;margin-left: 300px;">
    <div class="container d-flex">
        <div class="col  " style="padding: 16px;">
            <div class=" d-flex" style="padding: 16px;">

                <img src="{{pet.imageURL}}" width="100px" height="100px" style="padding: 0px;" />

                <div class="pet-info">
                    <div class="patient" style="padding-left:32px;">
                        <p class="text1">Patient</p>
                        <p class="text2">{{pet.petName}}</p>
                        <p class="text1">{{pet.gender}}, Afghan Hound</p>
                    </div>
                </div>
            </div>
            <div class="patient-info">
                <!-- <div *ngFor="let pet of parentData"> -->
                <p class="text1">Gender : <span class="text2">12{{pet.gender}}</span></p>
                <p class="text1">Age : <span class="text2">{{pet.age}} years</span></p>
                <p class="text1">Blood Group : <span class="text2"> {{pet.bloodGroup}}</span></p>
                <p class="text1">Date of Birth : <span class="text2">{{pet.dateOfBirth}}</span></p>
                <!-- </div> -->
            </div>

        </div>


    </div>