.card {
  border: none;
}

.text1 {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;

}

.text2 {
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;

}

.text {
  padding: 4px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;

}

.book-appointment {
  height: 36px;
  padding: 8px;
  background-color: #FC6736;
  color: white;
  border: none;
  text-align: center;
  border-radius: 5px;
}