.container {
  position: fixed;
  width: 660px;
  height: 1262px;
  top: 259px;
  left: 990px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 50px;
 
}
 
.login input{
  width: 100%;
  height: 3vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.input-group{
  width: 90%;
  max-width: 600px;
  position: relative;
}
 
 
#email-error{
  position: absolute;
  top: 100%;
  left: 2px;
  font-size: 16px;
  font-weight: 400;
  color: red;
}
 
.xyz {
  position: fixed;
  width: 660px;
  height: 1262px;
  top: 150px;
  left: 190px;
}
.xyz img{
 
  width: 600px;
  height: 600px;
  justify-content: center;
}
 
.card-header {
  background-color: white;
  /* display:flex; */
  text-align: center;
  align-items:center;
  justify-content: center;
}
 
.card-header img{
  height: 38px;
  width: 38px;
}
 
.card-header p{
  font-family:inter;
  font-size: 20px;
  font-weight: 600; /* semibold */
  /* line-height: 38px; */
  /* letter-spacing: 0em; */
  text-align: center;
}
 
.card-header h6{
  font-family:inter;
  font-size: 13px;
  font-weight: 600; /* semibold */
  /* line-height: 38px; */
  /* letter-spacing: 0em; */
  text-align: center;
  color: gray;
}
 
.btn{
  background-color: rgb(255, 68, 5);
  color: white;
  width: 250px;
  position: relative;
  left: 30px;
  top: -20px;
}