


<div class="main-wrapper">
   
    <div class="page-wrapper">
      <div class="content" >
        <div class="row">
          <div class="col-lg-8 offset-lg-2">
            <h4 class="page-title">Edit Profile</h4>
            <p>update account details</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-8 offset-lg-2">
            <form>
              <div class="form-group">
                <div class="profile-upload">
                  <div class="upload-img">
                    <img alt="" src="assets/img/user.jpg" class="rounded-circle" style="left: 0%;"/>
                  </div>
                  <div class="upload-input">
                    <input type="file" class="form-control" />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <!-- <label>Pet Owner First Name <span class="text-danger">*</span></label> -->
                    Name:<input class="form-control" type="text" />
                  </div>
                </div>
               
               
                 
               
                
                <div class="col-sm-6">
                  <div class="form-group gender-select">
                    <label class="gen-label">Gender:</label>
                    <div class="form-check-inline">
                      <label class="form-check-label">
                        <input
                          type="radio"
                          name="gender"
                          class="form-check-input"
                        />Male
                      </label>
                    </div>
                    <div class="form-check-inline">
                      <label class="form-check-label">
                        <input
                          type="radio"
                          name="gender"
                          class="form-check-input"
                        />Female
                      </label>
                    </div>
                  </div>
                </div>
                
                <div class="col-sm-6">
                  <div class="form-group">
                    <label>Mobile</label>
                    <input class="form-control" type="number" />
                  </div>
                </div>
                <div class="col-sm-6">
                 
                </div>
              </div>
              <div class="form-group">
                <label>Location</label>
                <textarea class="form-control" rows="3" cols="30"></textarea>
              </div>
              
              <br>
             
              
              <div class="bt">
                <button class="btn  submit-btn can" >Cancel</button>
                <button class="btn btn-danger submit-btn con sm-6" type="submit">Confirm</button>

              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  