<app-header></app-header>

<div style="margin-left: 300px;">
  <p class="backbtn" id="heading" (click)="goBack()"> <i class="fa fa-arrow-left" aria-hidden="true"></i> Back to
    Appointments</p>
  <h2 id="heading">New Appointment</h2>
  <hr>
  <div id="form-container">
    <form id="appointment-form" #userForm="ngForm">
      <div id="calendar">
        <label for="">Appointment Date:</label>
        <input type="text" #refdate="ngModel" name="date" onfocus="(this.type='date')" required
          onblur="if(!this.value) this.type='text'" ngModel [min]="minDate" (input)="getTime($event)">
        <div *ngIf="refdate.errors && (refdate.dirty || refdate.touched)" class="alert alert-danger">
          <div [hidden]="!refdate.errors">
            Please select the date.
          </div>
        </div>
        <label for="">Veterinarian :</label>
        <select name="vetname" id="" (change)="getVetID($event)" ngModel>
          <option *ngFor="let vet of vets" [value]="vet.vetId">{{vet.vetName}} ---{{vet.vetId}} </option>
        </select>
      </div>
      <br>
      <label for="">Appointment Time:</label><br>
      <!-- <div id="time-slot"> -->
      <span *ngFor="let slots of vetSlotes,let i=index">
        <button #timeBtn (click)="appTime(timeBtn.value,i)" [value]="slots"
          [ngClass]="{ 'selected': selectedButtonIndex === i }">
          {{ slots }}
        </button>
      </span>
      <div id="patient-details">
        <h2>Patient Details</h2>
        <label for="pet-name">Pet :</label>
        <select name="" id=" " (change)="getPetID($event)">
          <option *ngFor="let pet of pets" [value]="pet.petId">{{pet.petName}}</option>
        </select>
        <h2>Other Details</h2>
        <label for="pet-issues">Pet Issues</label>
        <input type="text" id="pet-parent" name="pet-parent" required [(ngModel)]="newAppointment.pet_issues">
        <label for="patient-condition">Reason for visit:</label>
        <textarea id="patient-condition" name="patient-condition" required
          [(ngModel)]="newAppointment.reasons_for_visit"></textarea>

        <button type="reset" data-bs-toggle="modal" data-bs-target="#exampleModal" id="cancel-btn"> Reset</button>
        <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal2" [disabled]="!userForm.form.valid"
          id="bookAppointment-btn">
          BookAppointment</button>
      </div>
    </form>
  </div>
</div>


<div class="modal fade popup" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <h2>Book Appointment</h2>
        <p>Do you want to book appointment?</p>
      </div>
      <div class="modal-footer">
        <button type="button" data-bs-dismiss="modal" id="cancel-btn">Cancel</button>
        <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal1" id="bookAppointment-btn"
          (click)="onSumbitForm()">Confirm</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade popup" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <p>Thanks for Booking an Appointment !</p>
      </div>
      <div class="modal-footer">
        <button type="button" data-bs-dismiss="modal" id="#exampleModal1" id="bookAppointment-btn"
          routerLink="/dashboard" [queryParams]="{ id: petParentId, role: role }">Okay</button>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>