<div class="xyz">
    <img src="../assets/images/fp.png" />
  </div>
  <div class="container">
    <div class="card">
      <div class="card-header">
        <img src="../assets/images/petzy1.png" />
        <br />
        <p>Reset your password</p>
        <h6>Welcome back! Please enter your details.</h6>
      </div>
  
      <div class="card-body">
        <div class="row">
          Email:<input type="email" name="email" [(ngModel)]="user.email" />
          <!-- <div class="row"> -->
          <br />
          code:<input type="text" name="code" [(ngModel)]="user.code" />
          <!-- </div> -->
          <div class="row">
              New Password: <input type="password" name="password" [(ngModel)]="user.password"></div>
  
        </div>
        <!-- <div class="card-footer"> -->
        <br /><br />
        <div class="row">
          <button (click)="resetPassword()" class="btn btn-outline-success">
            Sign in
          </button>
        </div>
        <!-- </div> -->
      </div>
    </div>
  </div>
  <!-- <p>login works!</p>
    <div class="container">
      <div class="card">
        <div class="card-header">
          <h1>Login</h1>
        </div>
    
        <div class="card-body">
          <div class="row">
            Email:<input type="email" name="email" [(ngModel)]="user.email" />
            <div class="row">
              password:<input
                type="text"
                name="password"
                [(ngModel)]="user.password"
              />
            </div>
            <div class="row"></div>
          </div>
          <div class="card-footer">
            <div class="row">
              <button (click)="signIn()" class="btn btn-outline-success">
                Login
              </button>
            </div>
          </div>
        </div>
      </div>
    </div> -->
  