/* Frame 112 */
.frame112 {
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 32px;
    gap: 51px;

    position: absolute;
    /* width: 1280px; */
    height: 415px;
    left: 308px;
    top: 105px;

    background: #FFFFFF;

}

/* Section header */
.section-header {
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 0px 1px;
    gap: 20px;

    /* width: 700px; */
    height: 74px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

/* Content */
.content {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;

    /* width: 1216px; */
    height: 52px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

/* Text and supporting text */
.text-supporting {
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;

    /* width: 1142px; */
    height: 52px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 1;
}

/* Text */
.text {
    /* width: 1142px; */
    height: 28px;

    /* Text lg/Medium */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    /* identical to box height, or 156% */

    /* Gray/900 */
    color: #101828;


    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

/* Supporting text */
.supporting-text {
    width: 742px;
    height: 20px;

    /* Text sm/Normal */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */

    /* Gray/500 */
    color: #667085;


    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

/* Actions */
.actions {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 12px;

    width: 58px;
    height: 40px;


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;

}

/* Button 04 */
.button04 {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    display: none;
    width: 85px;
    height: 40px;

    border-radius: 8px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

/* Button 03 */
.button03 {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    display: none;
    width: 105px;
    height: 40px;

    border-radius: 8px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

/* Button 02 */
.button02 {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    display: none;
    width: 105px;
    height: 40px;

    border-radius: 8px;

    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 0;

}

/* Button 01 */
.button01 {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    width: 58px;
    height: 40px;

    border-radius: 8px;

    /* Inside auto layout */
    flex: none;
    order: 3;
    flex-grow: 0;

}

/* _Button base */
.button-base {
    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 16px;
    gap: 8px;

    width: 58px;
    height: 40px;

    /* Orange dark / 600 */
    background: #E62E05;
    /* Orange dark / 600 */
    border: 1px solid #E62E05;
    /* Shadow/xs */
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

}

/* Text */
.Text {
    width: 26px;
    height: 20px;

    /* Text sm/Medium */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */

    /* Base/White */
    color: #FFFFFF;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

/* Divider */
.divider {
    /* width: 1216px; */
    height: 1px;

    /* Gray/200 */
    background: #EAECF0;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

/* Frame 111 */
.frame111 {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 74px;

    width: 810px;
    height: 136px;


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

/* Ellipse 1 */
.ellipse1 {
    width: 100px;
    height: 100px;

    background: url(../../../../assets/Ellipse\ 1.svg);
    /* Shadow/md */
    box-shadow: 0px 4px 8px -2px rgba(16, 24, 40, 0.1), 0px 2px 4px -2px rgba(16, 24, 40, 0.06);

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

}

/* Frame 55 */
.frame55 {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 48px;

    width: 636px;
    height: 136px;


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;

}

/* Frame 114 */
.frame114 {
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;

    width: 300px;
    height: 104px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

/* Frame 53 */
.frame53 {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;

    width: 248px;
    height: 24px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

/* Name : */
.name {
    width: 124px;
    height: 24px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    /* Gray/600 */
    color: #475467;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

/* Dr. */
.dr {
    width: 25px;
    height: 22px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */

    /* Gray/700 */
    color: #344054;


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

/* John Doe */
.nameValue {
    width: 83px;
    height: 22px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */

    /* Gray/700 */
    color: #344054;


    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 0;
}

/* Frame 57 */
.frame57 {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;

    width: 300px;
    height: 24px;


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

/* NPI No : */
.npiNo {
    width: 126px;
    height: 24px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    /* Gray/600 */
    color: #475467;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

/* 659862111 */
.npiNoValue {
    width: 96px;
    height: 22px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */

    /* Gray/700 */
    color: #344054;


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

/* Frame 58 */
.frame58 {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;

    width: 195px;
    height: 24px;


    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 0;
}

/* Speciality : */
.speciality {
    width: 127px;
    height: 24px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    /* Gray/600 */
    color: #475467;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

/* NAVLE */
.specialityValue {
    width: 60px;
    height: 22px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */

    /* Gray/700 */
    color: #344054;


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

/* Frame 115 */
.frame115 {
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;

    width: 300px;
    height: 136px;


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;

}

/* Frame 54 */
.frame54 {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;

    width: 223px;
    height: 30px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

}

/* Mobile : */
.mobile {
    width: 102px;
    height: 22px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */

    /* Gray/600 */
    color: #475467;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

/* +41 2121344 */
.mobileValue {
    width: 150px;
    height: 22px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */

    /* Gray/700 */
    color: #344054;


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

/* Frame 56 */
.frame56 {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;

    width: 289px;
    height: 30px;


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

/* Email : */
.email {
    width: 102px;
    height: 22px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */

    /* Gray/600 */
    color: #475467;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

/* johndoe@gmail.com */
.emailValue {
    width: 179px;
    height: 22px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */

    /* Gray/700 */
    color: #344054;


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

/* Frame 55 */
.frame55 {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;

    width: 340px;
    height: 44px;


    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 0;
}

/* Clinic : */
.clinic {
    width: 103px;
    height: 22px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */

    /* Gray/600 */
    color: #475467;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

/* St. John’s Clinic, Utah, US */
.clinicValue {
    width: 229px;
    height: 44px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;

    /* Gray/700 */
    color: #344054;


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}