* {
    box-sizing: border-box;
}
 
body {
    background: #f3e0e2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    margin: 80px 0 100px;
    background-repeat: no-repeat;
}
 
h1 {
    font-weight: bold;
    margin: 0;
}
 
p {
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
}
 
span {
    font-size: 12px;
}
 
a {
    color: #333;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
}
 
button {
    border-radius: 20px;
    border: 1px solid #FF4B2B;
    background-color: #FF4B2B;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}
 
form {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
}
 
input {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
}
 
/* .container {
    margin-top: 5%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 50%;
    min-height: 680px;
    mask-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
} */
 
.form-container {
    position: absolute;
    top: 0;
    height: 100%;
}
 
.log-in-container {
    left: 0;
    width: 50%;
    z-index: 2;
}
 
 
.overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
}
 
 
.overlay {
    background: #FF416C;
    background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
    background: linear-gradient(to right, #FF4B2B, #FF416C);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    color: #FFFFFF;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
}
 
.overlay-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
}
 
 
.overlay-right {
    right: 0;
}
 
 
.social-container {
    margin: 50px 0;
}
 
.social-container a {
    border: 1px solid #DDDDDD;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    height: 40px;
    width: 40px;
}
 
.card {
    gap: 32px;
    margin-right: 20px;
}
 
.containers {
    display: flex;
    margin-right: 20px;
}
 
.history {
    width: Fixed (1, 257px);
    height: Hug (40px);
    justify-content: space-between;
    margin-left: 5%;
    width: 1070px;
    height: Fixed (415px);
    top: 105px;
    left: 308px;
    padding: 32px;
    gap: 51px
}
 
.typo {
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    width: 239px;
    height: 28px;
 
 
}
 
.profBox {
    margin-left: 5%;
    width: 1070px;
    height: Fixed (415px);
    top: 105px;
    left: 308px;
    padding: 32px;
    gap: 51px
}
 
.hugg {
    width: 100%;
}
 
.container {
    display: flex;
 
}
 
.datebutton {
    Size: "md";
    -webkit-icon: "Leading";
    width: Hug (144px);
    height: Hug (40px);
    padding: 10px, 16px, 10px, 16px;
    border-radius: 8px;
    border: 1px;
    gap: 8px;
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(208, 213, 221, 1);
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
 
 
 
}
 
.profBox {
    margin-left: 5%;
    width: 1070px;
    height: Fixed (415px);
    top: 105px;
    left: 308px;
    padding: 32px;
    gap: 51px
}
 
.hugg {
    width: 100%;
}
 
.scrollable-card {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: -10px;
    gap: 270px;
 
    width: 1285px;
    height: 319px;
 
 
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
 
 
}
 