<div style="width: 950px ;margin-top: -950px; margin-left: 300px;">
    <div class="d-flex justify-content-between" style="margin: 30px; ">
        <span style="font-size: 24px; font-weight: 500; font-family: inter; color: #101828;">Appointment History</span>
 
    </div>
 
    <div class="scroll-container d-flex" style="overflow: auto">
        <div *ngFor="let pet of items, let i = index">
            <div class="card" id="box"
                style="margin-bottom: 16px; background: #FFFFFF; box-shadow: 0px 2px 4px -2px rgba(16, 24, 40, 0.06); border-radius: 8px; flex-direction: column; justify-content: flex-start; align-items: center; display: inline-flex; border:#FFFFFF">
 
                <div class="card-body" style="padding: 0px;">
                    <div style="padding: 16px;">
                        <div
                            style=" justify-content: flex-start; align-items: center; display: inline-flex; gap: 16px;">
                            <img style="width: 100px; height: 100px; border-radius: 9999px" src={{pet.url}} />
                            <div
                                style="flex-direction: column; justify-content: flex-start; align-items: flex-start;gap: 16px; display: inline-flex">
                                <div><span
                                        style="color: #101828; font-size: 20px; font-family: Inter; font-weight: 600; word-wrap: break-word">{{petNames[i]}}<br></span><span
                                        style="color: #475467; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word">{{pet.title}}</span>
                                </div>
                                <div
                                    style="color: #475467; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word">
                                    Owner: {{petParentNames[i]}}</div>
                            </div>
                        </div>
                        <div style="margin-top: 32px;" class="d-flex justify-content-between">
                            <div><span
                                    style="color: #475467; font-size: 32px; font-family: Inter; font-weight: 600; word-wrap: break-word">{{pet.time}}<br></span><span
                                    style="color: #475467; font-size: 20px; font-family: Inter; font-weight: 600; word-wrap: break-word">{{pet.date}}</span>
                            </div>
                            <div style="padding: 0px 16px 16px 16px; gap: 32px;" class="d-flex justify-content-between">
 
                                <img src="assets/images/message.svg" style="width: 23.38px; height: 23.38px;">
 
                                <img src="assets/images/call.svg" style="width: 23.38px; height: 23.38px;">
 
                                <img src="assets/images/vedio.svg" style="width: 23.38px; height: 23.38px;">
 
                            </div>
                        </div>
                    </div>
 
                    <div class="card-footer">
                        <div class=" d-flex justify-content-between" style="padding: 12px;">
                            <a href="#"
                                style="text-align: center; color: #1D2939; font-size: 20px; font-family: Inter; font-weight: 500; word-wrap: break-word; text-decoration: none;">Details</a>
                            <a href="#"
                                style="text-align: center; color: #1D2939; font-size: 20px; font-family: Inter; font-weight: 500; word-wrap: break-word;  text-decoration: none;">Feedback</a>
                        </div>
 
                    </div>
 
 
                </div>
            </div>
        </div>
    </div>
</div>