<div class="overview">
    <div class="total card">
        <div class="heading">
            <img src="../../assets/images/Total.svg" alt="">
            <a class="text">Total</a>
        </div>
        <div class="count">
            {{count.Total}}
        </div>
    </div>
    <div class="total card">
        <div class="heading">
            <img src="../../assets/images/confirmed.svg" alt="">
            <a class="text">Confirmed</a>
        </div>
        <div class="count">
            {{count.Confirmed}}
        </div>
    </div>
    <div class="total card">
        <div class="heading">
            <img src="../../assets/images/closed.svg" alt="">
            <a class="text">Closed</a>
        </div>
        <div class="count">
            {{count.Closed}}
        </div>
    </div>
    <div class="total card">
        <div class="heading">
            <img src="../../assets/images/cancelled.svg" alt="">
            <a class="text">Cancelled</a>
        </div>
        <div class="count">
            {{count.Cancelled}}
        </div>
    </div>
</div>
