
<div class="con">
    <app-prescriptions></app-prescriptions>
    <div class="all">
      <div class="card">
        <h4 style="font-family: 'Inter var', sans-serif;">Vitals</h4>
        <div>
            <div class="image">
              <span> <img src="assets/images/heart.svg"  ></span>
              <span ><i class="heart-icon" ></i> {{ vital.bpm }} BPM</span>
            </div>
           <div class="image1">
              <span><img class="rotate" src="assets/images/thermometer-half.svg"></span>
              <span><i class="temp-icon" ></i> {{ vital.temperature }} °C</span>
            </div>
            <div class="image">
              <span><img src="assets/images/lungs.svg"></span>
              <span><i class="respiratory-icon "></i> {{ vital.heartRate }} BPM</span>
          </div>
        </div>
    </div>
    <!-- <div class="card-symptoms">
        <h3>Symptoms</h3>
        <p *ngFor="let symptom of symptoms" style="display: inline-block;">{{ symptom }}</p>
      </div>      -->
      <app-view-symptoms></app-view-symptoms>
      <app-view-tests></app-view-tests>     
      <app-view-recommended-doctors></app-view-recommended-doctors>
    </div>
</div>
    
<app-view-comments></app-view-comments>
