<app-header></app-header>

<div class="contain">
  <div class="profBox" style="border: 2px solid beige; border-radius: 10px; ">
    <div class="hugg">
      <span style="font-size: 18px; font-weight: 600; font-family: inter; color: #101828;">Vet Details</span>
    </div>
    <hr style="height: 2px; width: 100%;">
    <div class="hugg2  " style="background-color: #FFFFFF;">
      <table class="table" style="width: 80%; ">
        <tr>
          <td scope="col" style="width: 30%;"><img src={{vet.imageURL}}
              style="height: 150px; width: 150px;border-radius: 150px;"></td>
          <td scope="col" style="width: 400px;">
            <div>
              Name <span style="margin-left: 45px;">:</span> <strong
                style="margin-left: 15px;text-transform: capitalize;">{{vet.vetName}} </strong><br><br>

              Speciality <span style="margin-left: 24px;">:</span> <strong style="margin-left: 15px;">
                {{vet.speciality}} </strong><br><br>
              Mobile <span style="margin-left: 37px;">:</span><strong style="margin-left: 15px;"> {{vet.mobileNo}}
              </strong><br><br>
              Email <span style="margin-left: 45px;">:</span> <strong style="margin-left: 15px;">
                {{vet.email}}</strong><br><br>
              <br><br>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>


  <router-outlet></router-outlet>