.overview {
  position: absolute;
  display: flex;
  top: 97px;
  left: 300px;
  width: 78%;
  height: 164px;
}

.card {
  box-shadow: 0px 1px 2px 0px #1018280F;
  margin-left: 10px;
  width: 246px;
  height: 100px;
  padding: 16px;
  border-radius: 8px;
  align-items: center;
  gap: 16px;
  box-shadow: 0px 1px 3px 0px #1018281A;
  background-color: #ffffff;
}

.total {
  width: 246px;
  gap: 8px
}

.icons {
  cursor: pointer
}

.heading {
  display: flex;
  align-items: center;
  width: Fill (246px);
  height: Hug (48px);
  gap: 8px;
}

.text {
  padding-left: 20px;
  width: 224px;
  height: 24px;
  font-family: 'Inter';
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #101828;
}

.count {
  padding-top: 10px;
  font-family: 'Inter';
  font-size: 28px;
  font-weight: 900;
  line-height: 44px;
  letter-spacing: -0.02em;
  text-align: left;
}

.header2 {
  position: absolute;
  width: 1130px;
  height: 44px;
  top: 256px;
  left: 308px;
  border-bottom: 1px solid #D0D5DD;
  display: flex;
}

.containercard {
  width: 77%;
  height: 50%;
  position: absolute;
  display: grid;
  grid-template-columns: auto auto auto auto;
  top: 320px;
  left: 308px;
  gap: 40px 20px;
}

.displaycard {
  width: 260px;
  height: 230px;
  padding: 10px;
  border-radius: 8px;
  gap: 32px;
  box-shadow: 0px 2px 4px -2px #1018280F;
  box-shadow: 0px 4px 8px -2px #1018281A;
}

.info {
  width: 100%;
  height: 130px;
  margin-bottom: 30px;
}

.bottomelements {
  width: 100%;
  height: 50px;
  gap: 16px;
}

.details {
  border-top: 0.1rem solid #D0D5DD;
  padding-top: 20px;
  display: flex;
  justify-content: space-around;
  cursor: pointer;
}

.detailstext:hover {
  font-weight: 600;
}

.detailstext {
  font-family: 'Inter';
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0em;
  text-align: center;
  color: #1D2939;
}

.cardimg {
  width: 60px;
}

.cardupper {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}


.gender {
  font-family: 'Inter';
  font-size: 12px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #475467;
}

.name {
  font-family: 'Inter';
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: black;
  text-transform: capitalize;
}

.lowercard {
  margin-top: 8px;
  display: grid;
  grid-template-columns: auto auto;
}

.owner {
  font-family: 'Inter';
  font-size: 12px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #475467;
}

.nameinfo {
  width: 115px;
  height: 42px;
  padding-bottom: 4px;
}

.time {
  font-family: 'Inter';
  font-size: 28px;
  font-weight: 600;
  line-height: 39px;
  letter-spacing: 0em;
  text-align: left;
  color: #101828;
}

.date {
  font-family: 'Inter';
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: black;
}

.icons {
  display: flex;
  justify-content: space-between;
  height: 18px;
}

.icons a {
  margin: 0 5px;
}

.icons img {
  width: 20px;
  height: auto;
}

.allappointments {
  width: 600px;
  font-family: 'Inter';
  font-size: 26px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: left;
  color: #101828;
}

.pagination {
  position: absolute;
  text-align: center;
  top: 790px;
  left: 0px;
}

a {
  text-decoration: none;
}

p,
li,
a {
  font-size: 14px;
}

.pagination {
  padding: 30px 0;
}

.pagination ul {
  display: flex;
  margin: 10px;
  padding: 0;
  list-style-type: none;
  gap: 10px;
}

.pagination a {
  display: inline-block;
  padding: 10px 18px;
  color: #222;
}


.p5 a {
  width: 30px;
  height: 5px;
  padding: 0;
  margin: auto 5px;
  background-color: #eeae95;
}

.p5 .is-active {
  background-color: #FF692E;
}

.pagination:hover {
  cursor: pointer;
}

.feedback-form {
  width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.feedback-form h3 {
  margin-top: 0;
  margin-bottom: 10px;
}

.feedback-form .rating,
.feedback-form .refer {
  margin-bottom: 20px;
}

.feedback-form .stars {
  display: flex;
  justify-content: space-between;
}

.feedback-form .stars input[type="radio"] {
  display: none;
}

.feedback-form .stars label {
  font-size: 2rem;
  color: #ccc;
  transition: color 0.2s;
  cursor: pointer;
}

.feedback-form .stars input[type="radio"]:checked~label {
  color: #f00;
}

.feedback-form textarea {
  resize: none;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
}

.feedback-form .submit {
  display: flex;
  justify-content: flex-end;
}


.modal-title {
  text-align: center;
  margin: 0 auto;
}

.feedback-form button[type="submit"] {
  padding: 10px 20px;
  background-color: orange;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.feedback-form button[type="submit"]:hover {
  background-color: #d00;
}


.heading {
  text-align: center;
}

.rating {
  align-items: center;
}

.rating ul>li {
  display: inline-block;
  margin-right: 20px;
}

.rating ul>li input {
  margin-right: 10px;
}

.ratings ul>li input,
.ratings ul>li label {
  display: inline-block;
  vertical-align: middle;
}

.feedback-form {
  height: 685px;
  width: 510px;
  top: 234px;
  left: 835px;
  border-radius: 12px;
}

body {
  display: flex;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.feedback-form {
  width: 500px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.feedback-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}



.modal .fade {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

#button {
  position: absolute;
  top: 75px;
  right: 450px;
}


.modal-dialog {
  max-width: 800px;
}

.modal-content {
  padding: 20px;
}


ul.rating {
  list-style: none;
  padding: 0;
}

ul.rating li {
  display: inline-block;
  margin-right: 10px;
}


.modal-content .close {
  position: absolute;
  right: 10px;
  top: 10px;
}


.modal-title {
  text-align: center;
}

.modal-dialog {
  max-width: 450px;
  margin: auto;
  margin-top: calc(50vh - 342.5px);
}

.pagination {
  position: absolute;
  left: 820px;
}

.filterbar {
  position: absolute;
  display: flex;
  left: 832px;
}

.status {
  width: 120px;
  height: 40px;
  border-radius: 8px;
  font-size: medium;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
  cursor: pointer;
  border: 1px solid #D0D5DD
}

.datepicker {
  padding: 0 12px;
  /* height: 40px; */
  cursor: pointer;
}

.newAppointmentbtn {
  width: 172px;
  height: 40px;
  padding: 8px;
  border: 1px solid #FF4405;
  border-radius: 8px;
  background-color: #FF4405;
  color: white;
  font-size: medium;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  box-shadow: 0px 1px 2px 0px #1018280D;
  /* Box shadow */
  cursor: pointer;
  padding: 0 12px;
  margin-left: 12px;
}


.btn {
  border: none;
  color: #ffffff;
  background-color: #ff440594;
  border-radius: 10px;
}

.paginationbtn {
  border: none;
  color: white;
  border-radius: 5px;
  background-color: orange;
}

.paginationbtn:hover {
  font-weight: 600;
  background-color: #FF4405;
}

.showNoAppointmentsMessage {
  position: fixed;
  top: 50%;
  left: 50%;
  font-weight: 700;
  opacity: 20%;
}

.cardimg {
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.PetOwner {
  position: absolute;
  top: 100px;
  left: 300px;
}

.PetOwnerdashboard {
  position: absolute;
  top: -200px;
  left: -290px;
}

.PetOwnerheader {
  width: 1200px;
  display: flex;
  border-bottom: 1px solid #D0D5DD;
}

.petownerfilterbar {
  position: absolute;
  display: flex;
  left: 800px;
}

.petownerpagination {
  position: absolute;
  left: 700px;
  top: 760px;
}